@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* body {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    border: none;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 37px;
}

.logo-container {
    display: flex;
    align-items: center;
    margin-right: 117px;
    gap: 10px;
}

.logo-container h1 {
    font-weight: 100;
}


nav {
    display: flex;
    margin-right: 153px;
    gap: 37px
}

nav a {
    color: #4F5665;
    text-decoration: none;
    font-size: 16px;
}

.access-container {
    display: flex;
    gap: 30px;
    font-size: 16px;
}

.acess-container :last-child {
    border-radius: 50px;
    border: 1px solid #F53855;
    width: 150px;
    height: 45px;
    color: #F53855;
}

.acess-container :last-child:hover {
    background-color: #F53855;
    transition: 0.5s;
    color: #ffffff;
}

button {
    background-color: transparent;
    border: none;
    margin-left: 15px;
}

.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 59px;
    gap: 41px;
}

.section-content{
    width: 555px;
}

.section-content h2{
    font-size: 50px;
    font-weight: 500px;
    margin-top: 28px;
}

.section-content p {
    font-size: 16px;
    margin-top: 20px;
}

.section-content button{
    width: 250px;
    height: 70px;
    background-color: #F53855;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    margin-top: 50px;
    transition: 0.5s;
    box-shadow: 0px 0px 0px  #fa5353b6;
}



.section-content button:hover{
    background-color: #ed8b0c;
    transition: 0.5s;
}